/* Tailwind CLI */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI */
@source "./node_modules/preline/dist/*.js";
@import "./node_modules/preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";

title {
  display: none;
}

h1 {
  text-align: center;
}

body {
  margin: 0px; 
}

/* Notes Display */
.notes-container {
  @apply flex flex-row justify-evenly content-center items-center flex-wrap max-w-[90%] min-h-[250px];
}

.note-card {
  @apply flex flex-col border-[3px] border-solid border-black; 
}

.note-timestamp {
  @apply flex flex-row justify-start items-start content-start pl-[1.5%] pt-[1.5%]; 
}

.note-content {
  @apply flex flex-row justify-evenly content-evenly items-center min-h-[150px] min-w-[400px] flex-wrap pl-[10px] pr-[10px]; 
}

.note-actions-row {
  @apply flex flex-row justify-end gap-[10px];
}

/* Global */
.navbar {
  @apply flex flex-row justify-start items-center px-3 py-2 bg-gray-400 shadow-2xl border-4 border-solid border-gray-500;
}

.title {
  @apply text-6xl bebas-neue-regular underline decoration-solid decoration-4 underline-offset-4 pt-1 pb-8; 
}

.icon {
  @apply border-none bg-transparent w-[28px] h-[28px] bg-contain bg-no-repeat; 
}

.exit-button {
  background-image: url(../assets/images/icons/times.svg); 
}

.save-button {
  background-image: url(../assets/images/icons/check.svg); 
}

/* Google Fonts */
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
