/* Tailwind CLI */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI */
@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";

/* Notes Display */
.notes-container {
  @apply flex flex-row justify-evenly flex-wrap gap-8 max-w-[80%] min-h-[250px];
}

.note-card {
  @apply flex flex-col border-[3px] border-solid border-black rounded-lg bg-midnight-container transition-all duration-200 hover:scale-105; 
}

.note-timestamp {
  @apply flex flex-row justify-start items-start content-start pl-[1.5%] pt-[1.5%] inter-extralight text-midnight-text; 
}

.note-content {
  @apply flex flex-row justify-evenly content-evenly items-center min-h-[150px] min-w-[400px] flex-wrap pl-[10px] pr-[10px] inter-light text-midnight-text; 
}

.note-actions-row {
  @apply flex flex-row justify-end gap-[10px];
}

/* Global Elements*/
title {
  @apply hidden; 
}

body {
  @apply m-0 bg-midnight-bg; 
}

.title {
  @apply flex justify-center items-center content-center mx-auto w-full max-h-[100px] text-6xl bebas-neue-regular underline decoration-solid decoration-4 underline-offset-4 pt-1 pb-8 text-midnight-text transition-all duration-100 hover:scale-105; 
}

.button-icon {
  @apply flex pr-1 pb-1 transition-all duration-150 hover:scale-110; 
}

/* Google Fonts */
.bebas-neue-regular {
  /* Page Titles */
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-extralight {
  /* Note Timestamps */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  /* Everything else (regular text) */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  /* Page Explanations */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  /* Navbar Titles */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  /* Optional Emphasis */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
