/* Tailwind CLI */
@tailwind base;
@tailwind components;
@tailwind utilities;

title {
  display: none;
}

h1 {
  text-align: center;
}

body {
  margin: 0px; 
}

main {
  margin: 20px; 
}

.navbar ul{
  list-style-type: none;
  background-color: rgb(95, 95, 95); 
  padding: 0px; 
  margin: 0px; 
  overflow: hidden; 
}

.navbar a{
  color: white; 
  text-decoration: none; 
  padding: 10px; 
  display: flex; 
  flex-direction: row; 
  text-align: center; 
}

.navbar a:hover{
  background-color: rgb(66, 66, 66);
}

.navbar li{
  float: left;
}

.icon {
  border: none;  
  background-color: transparent; 
  width: 28px;
  height: 28px;
  
  background-size: contain; 
  background-repeat: no-repeat; 
}

.exit-button {
  background-image: url(../assets/images/icons/times.svg); 
}

.save-button {
  background-image: url(../assets/images/icons/check.svg); 
}
