.notes-container {
  /* Main Flexbox options*/
  display: flex; 
  flex-direction: column; 
  justify-content: space-evenly;
  align-content: center; 
  align-items: flex-start;  
  
  /* Additional options */
  flex-wrap: wrap; 
  max-width: 90%; 
  gap: 20px; 
}

.note-card {
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly;
  align-content: space-evenly; 
  align-items: center;  
  
  min-height: 150px; 
  min-width: 400px; 
  flex-wrap: wrap; 
   
  border: 3px solid black; 
}